/* body start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
:root{
    --bg-color:#fff;
    --second-bg-color:#ececec;
    --text-color:#000000;
    --main-color:rgb(0, 162, 255);
    --nav-color:rgba(0, 0, 255, 0);
    --home-color: rgba(104, 105, 104, .7);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding: 15rem 10% 4rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
/* body end */
/* nav start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    text-decoration: none;
    font-size: 4.5rem;
    color:var(--bg-color);
    font-weight: 600;
    cursor: default;
}
.nav a{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition: .3s;
}
.nav a:hover,
.nav a.active{
    color: var(--text-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--bg-color);
    display: none;
}
/* nav end */
/* home start */
.home{
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/idn-boarding-school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--home-color);
}
.home-content{
    z-index: 1;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 2rem;
}
.ctr{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem !important;
    background: var(--main-color) !important;
    border-radius: .8rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem !important;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    transition: .5s ease;
    align-items: center;
}
.btn:hover{
    box-shadow: none;
    transform: scale(1.1);
}
/* home end */
/* about start */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    gap: 5rem;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.headingp{
    margin-top: 2rem;
    text-align: center;
    font-size: 4.5rem;
}
.text{
    text-align: center;
    font-size: 1.6rem;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 7rem;
}
.about-container .about-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .1rem solid var(--second-bg-color);
    transition: .5s ease;
}
.about-container .about-box:hover{
    border: .1rem solid var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
}
/* about end */
/* achievment start */
.achievment{
    background: var(--bg-color);
}
.achivement h2{
    margin-bottom: 4rem;
}
.achivement-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.achivement-container .achivement-box{
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
}
.achivement-box img{
    width: 100%;
    transition: .5s ease;
}
.achivement-box:hover img{
    transform: scale(1.1);
}
.achivement-box .achivement-layar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .4s ease;
}
.achivement-box:hover .achivement-layar{
    transform: translateY(0);
}
.achivement-layar h4{
    font-size: 2rem;
    color: var(--bg-color);
}
.achivement-layar p{
    font-size: 1rem;
    color: var(--bg-color);
}
/* achievment end */
/* activity stert */
.activity{
    background: var(--second-bg-color);
}
.activity h2{
    margin-bottom: 4rem;
}
/* activity end */
/* jurusan start */
.jurusan{
    background: var(--bg-color);
}
.jurusan h2{
    margin-bottom: 4rem;
}
/* jurusan end */
/* sponsor star */
.sponsor{
    background: var(--second-bg-color);
}
.sponsor h2{
    margin-bottom: 4rem;
}
/* sponsor end */
/* list start */
.list{
    background: url(img/idn-boarding-school.jpg);
    background-size: cover;
}
.list h2{ 
    margin-top: 4rem;
}
.list form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.list form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list form .input-box input,
.list form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.list form .input-box input{
    width: 49%;
}
.list form textarea{
    resize: none;
}
.list form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
form{
    padding: 4rem;
    border-radius: .8rem;
    background: var(--second-bg-color);
}
/* list end */
/* footer start */
.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}
.col ul li:not(last-child){
    margin-bottom: 20px;
}
.col ul li a:hover{
    color: var(--main-color);
    font-size: 1.1rem;
    text-transform: capitalize;
    transition: .5s;
}
.col ul li a{
    color: var(--text-color);
    transform: translateX(-12px);
}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
}
.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 4px;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--main-color);
    background: var(--bg-color);
    border: solid 2px var(--main-color);
    border-radius: 50%;
}
/* footer end */
 /* responshif */
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .nav.active{
        display: block;
    }
    .nav .logo a{
        font-size: 1rem;
    }
    .nav a{
        display: block;
        font-size: 2rem;
        margin:  0;
        border: solid black 1px;
        padding: 10px;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content .h3{
        margin-top: 10rem;
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .achivement h2{
        margin-top: 3rem;
    }
    .achivement-container{
        grid-template-columns: repeat(2,1fr);
    }
    .col{
        width: 50%;
        margin-bottom:10px ;
    }
}
@media (max-width: 617px){
    .achivement-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width: 365px){
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}